PORT=3001
NODE_ENV=development
JWT_SECRET=sua_chave_secreta_aqui
JWT_REFRESH_SECRET=sua_outra_chave_secreta_aqui
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173

# URL de conexão com o MongoDB Atlas
DATABASE_URL="mongodb+srv://USUARIO:SENHA@cluster.mongodb.net/finnancial_db"
